@use "../base/mixins" as *;

.Collection {
  margin: 2rem;
  
  .masonry-gallery {
    columns: 1;

  .collection-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 10px;
    column-gap: 10px;
    
        .collection-item {
            width: 100%;
            position: relative;
            overflow: hidden;
            border-radius: 10px;
            
            img {
                max-width: 100%;
                height: auto;
                display: block;
                transition: transform 0.3s ease;

                
            }

            &:hover img {
                transform: scale(1.05); 
            }

            .item-info {

            padding: 10px;

                .title {
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-top: 0.5rem;
                }

                .description {
                    font-size: 1rem;
                    margin-top: 0.5rem;
                }
            }
        }
    }
    }
}

@media (min-width: 768px) { 
    .Collection .masonry-gallery {
        columns: 2;
    }
}

@media (min-width: 992px) { 
    .Collection .masonry-gallery {
        columns: 3;
    }
}

@media (min-width: 1200px) { 
    .Collection .masonry-gallery {
        columns: 4;
    }
}
