@use "../base/colors" as *;

.Collection {
  margin: 2rem;
    display: flex;
    flex-direction: column;
  .masonry-gallery {
    display: flex;
    margin-left: -20px; 
    width: auto;

    .masonry-grid_column {
      padding-left: 20px; 
      background-clip: padding-box;

      .collection-item {
        margin-bottom: 20px; 
        position: relative;
        overflow: hidden;
        border-radius: 10px;

        img {
          width: 100%;
          height: auto;
          display: block;
          transition: 0.3s ease;
          object-fit: cover;
        }

        &:hover img {
          filter: brightness(80%);
        }

        &:hover .item-info {
          visibility: visible;
          opacity: 1;
          transform: translateY(0);
        }

        .item-info {
          padding: 10px;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          background-color: rgba($bg, 0.8);
          opacity: 0;
          transform: translateY(10%);
          visibility: hidden;
          transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.1s ease;

          .title {
            margin-top: 5px;
            font-size: 1.2rem;
          }

          .description {
            margin: 0;
            color: rgba($light, 0.7);
          }
        }
      }
    }
  }
  
  button {
    margin: 0 auto;
  }
}
