@use "../base/mixins" as *;
@use "../base/colors" as *;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

footer {
    background-color: $light;
    color: $bg;
    @include flexbox(flex, center, center);
    flex-direction: column;

    margin-top: 1rem;
    padding: 2rem;

    .faq {
        width: 100%;
        h2 {
            text-align: left;
        }
        p {
            text-align: left;
        }
        .accordion-container {
            margin: 0 auto;
            padding-bottom: 2rem;
            width: 100%;
            //.accordion-header, .accordion-button and .accordion-body are built-in bootstrap classes
        .accordion-item {
            background-color: $light;
            border: none;
            border-top: 1px solid $bg;
            border-radius: 0;
            &:last-child {
                border-bottom: 1px solid $bg;
            }
        }
            .accordion-header {
                border-radius: 20px;

                .accordion-button {
                    font-weight: 700;
                    background-color: $light;
                    &:focus {
                        box-shadow: none;
                    }
                    &[aria-expanded="true"] {
                        color: $action; 
                    }
                }
            }

            .accordion-body {
                background-color: $light;
                p {
                    margin-top: 0;
                }
                ul {
                    margin-left: 2rem;
                    li {
                    list-style-type: circle;
                    list-style-position: inside
                    }
                }
            }
        }
    }

    .columns-footer {
        .quote {
            font-family: "Playfair Display", serif;
            
            p:first-child {
                font-size: 2rem;
                font-style: italic;
            }
            p:nth-child(2) {
                text-align: right;
                font-size: 1.5rem;
                padding-top: 0.1rem;
            }
        }
        .social-media {
            width: 100%;
            .socialmedia-list {
                @include flexbox(flex, center, center);
                width: 100%;
                li {
                    margin-left: 1rem;
                    a {
                        color: $bg;
                        font-size: 40px;
                        &:hover {
                            color: $action;
                        }
                    }
                }
            }
        }
    }
}

@media (min-width: 768px) { 
    footer {
        .faq, .social-media {
            max-width: 1200px;
        }
        .faq {
            display: flex;
        }
        .columns-footer {
            @include flexbox(grid, center, center);
            grid-template-columns: 1fr 1fr;
        }
    }

}