@use "../base/mixins" as *;

.Header {
    max-width: 1800px;
    padding: 2rem;
    width: 100%;

    @include flexbox(flex, flex-start, center);
    background-color: transparent;
    position: fixed;
    top: 0;

    #logo {
        height: 3rem;
    }
}