.Page {
    .page-header {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: top;
      padding: 7rem 2rem;
      
      h1 {
        padding-bottom: 40vh;
      }
    }
  }
  