@use "../base/mixins" as *;
@use "../base/colors" as *;

.exhibitions-menu {
    @include flexbox(flex, left, center);
    margin: 20px;
    margin-bottom: 30px;
    li {
        margin-right: 1.5rem;
        cursor: pointer;
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background-color: rgba($light, 0.5);
            position: absolute;
            bottom: -5px; 
            left: 0;
            transition: width 0.3s ease;
          }
        
          &.active::after {
            width: 100%;
          }
    }
}

.section-exhibitions {
    .exhibition-item {
        margin: 0 auto;
        padding-bottom: 40px;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba($light, 0.5);
        .exhibition-text {
            margin: 10px 20px 0 20px;
            h2 {
                text-align: left;
            }
        }
        img {
            width: 100%;
        }
        &:last-of-type {
            border-bottom: none;
        }
    }
    
}

.section-guidedtours {
    margin: 20px;
    @include flexbox(flex, center, center);
    overflow: hidden;

    .guidedtours-item {
        transition: transform 0.5s ease;
        text-align: center;
        position: relative;
        .guidedtours-month {
            position: absolute;
            left: 0;
            top: 10px;
            background-color: rgba($dark, 0.95);
            padding: 10px 60px 10px 10px;
            border-radius: 15px 0 0 0;
        }
        

        h2 {
            margin-top: 10px;
        }
        img {
            height: 300px;
            width: 90%;
            object-fit: cover;
            object-position: top;
        }
        p {
            text-align: center;
        }
        .guidedtours-dayshours{
            color: rgba($light, 0.5);
            span:first-of-type {
                margin-right: 10px;
            }
        }
        button:first-of-type{
            margin-right: 1rem;
        }

    }

    .arrow {
        text-align: center;
        padding: 5px 10px;
        border: 1px solid rgba($light, 0.5);
        border-radius: 50%;
    }
}

@media (min-width: 768px) { 
    .section-exhibitions {
        .exhibition-item {
            @include flexbox(grid, center, center);
            grid-template-columns: 1fr auto;
            max-width: 1200px;
            padding-bottom: 40px;
            img {
                margin-right: 10px;
                width: 500px;
                height: 300px;
                object-fit: cover;
                float: left;
            }
            
        }
    }

    .section-guidedtours {
        .guidedtours-item {
            width: 100%;
            max-width: 1200px;
            img {
                height: 500px;
                object-position: bottom;
            }
        }
    }
}
