@use "../base/mixins" as *;
@use "../base/colors" as *;

.exhibitions-menu {
    @include flexbox(flex, left, center);
    margin: 2rem;
    li {
        margin-right: 1.5rem;
        cursor: pointer;
        position: relative;

        &::after {
            content: "";
            display: block;
            width: 0;
            height: 2px;
            background-color: rgba($light, 0.5);
            position: absolute;
            bottom: -5px; 
            left: 0;
            transition: width 0.3s ease;
          }
        
          &.active::after {
            width: 100%;
          }
    }
}

.section-exhibitions {
    .exhibition-item {
        margin: 0 auto;
        padding-bottom: 20px;
        margin-bottom: 40px;
        border-bottom: 1px solid rgba($light, 0.5);
        .exhibition-text {
            margin: 0 2rem;
            h2 {
                text-align: left;
            }
        }
        img {
            width: 100%;
        }
        &:last-of-type {
            border-bottom: none;
        }
    }
    
}

.section-guidedtours {
    margin: 2rem;
    @include flexbox(flex, center, center);
    overflow: hidden;

    .guidedtours-item {
        width: 80%;
        transition: transform 0.5s ease;
        text-align: center;
        p {
            text-align: center;

        }
        button:first-of-type{
            margin-right: 1rem;
        }

    }


}

@media (min-width: 768px) { 
    .section-exhibitions {
        .exhibition-item {
            @include flexbox(grid, center, center);
            grid-template-columns: auto 1fr;
            max-width: 1200px;
            img {
                margin-right: 20px;
                width: 500px;
                height: 300px;
                object-fit: cover;
                float: left;
            }
            
        }
    }
}
