@use "../base/mixins" as *;
@use "../base/colors" as *;
.GuidedTours {
    h1 {
        margin: 7rem 2rem;
        text-align: center;
    }
    .section-guidedtours {
        margin: 20px;
        @include flexbox(flex, center, center);
        overflow: hidden;

        position: relative;
    
        .guidedtours-item {
            transition: transform 0.5s ease;
            text-align: center;
            position: relative;
            .guidedtours-month {
                position: absolute;
                left: 0;
                top: 10px;
                background-color: rgba($dark, 0.95);
                padding: 10px 60px 10px 10px;
                border-radius: 15px 0 0 0;
            }
            
            h2 {
                margin-top: 10px;
            }
            img {
                height: 300px;
                width: 90%;
                object-fit: cover;
                object-position: top;
                cursor: pointer;
            }
            p {
                text-align: center;
            }
            .guidedtours-dayshours{
                color: rgba($light, 0.5);
                span:first-of-type {
                    margin-right: 10px;
                    display: block;
                }
            }
            button:first-of-type{
                margin-right: 1rem;
            }
    
        }
    
        .arrow {
            text-align: center;
            padding: 5px 10px;
            border: 1px solid rgba($light, 0.5);
            border-radius: 50%;
            position: absolute;
            z-index: 2;
        }

        .right-arrow {
            bottom: 55px;
            right: 0;
        }

        .left-arrow {
            bottom: 55px;
            left: 0;
        }
    
    }
    
}

@media (min-width: 768px) { 
    .GuidedTours{
        .section-guidedtours {
            .guidedtours-item {
                width: 100%;
                max-width: 1200px;
                img {
                    height: 500px;
                    object-position: bottom;
                }
            }
            .guidedtours-item .guidedtours-dayshours {
                span:first-of-type {
                    display: inline;
                }
            }

        }
        
        
    }
}