@use "../base/mixins" as *;
@use "../base/colors" as *;

.Tickets {
    .tickets-content{
        background-image: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)), url("img/Garden.webp");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        background-attachment: fixed;
        padding: 7rem 2rem;
        
        h1 {
            padding-bottom: 40vh;
        }
    

        .tickets-body {
            background-color: rgba($bg, 0.8);
            border-radius: 20px;
            padding: 30px;

            h2 {
                margin-bottom: 2rem;
            }

            p{
                margin: 0 auto;
            }

            .tickets-options {
                @include flexbox(grid, center, center);
                grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
                gap: 30px;
                margin-top: 2rem;

                article {
                    height: 300px;
                    padding: 20px;
                    background-color: rgba($bg, 0.95);
                    border-radius: 10px;
                    cursor: pointer;
                    
                }
            }
        }
    }

    .tickets-prices {
        margin: 2rem;
        
    }
    

}