@use "../base/mixins" as *;
@use "../base/colors" as *;

.Visit {
    margin: 40px 20px;
        
        h2 {
            text-align: left;
            font-family: "Red Hat Display", sans-serif;
            margin-top: 4rem;

            &::after {
                content:"";
                height: 1px;
                background-color: rgba($light, 0.5);
                display: block;
            }
        }

    .when-to-visit {

        h2 {
            flex-grow: 2;
        }

        .when-to-visit-nav ul{
            @include flexbox(flex, start, center);
            width: 100%;
            li {
                margin-right: 1rem;
                cursor: pointer;
                padding: 15px 0;
                border-radius: 50px;
                position: relative;

                &.active::after {
                    content: "";
                    display: block;
                    height: 50px;
                    width: 50px;
                    border-radius: 50%;
                    background-color: rgba($light, 0.1);
                    position: absolute;
                    bottom: 5px;
                    left: -10px;

                    
                }
            }
        }

        
        .when-to-visit-content {
            border-radius: 10px;
            background-color: rgba($light, 0.2);
            max-width: 1000px;
            margin: 0 auto;
            
            img {
                display: none;
                
            }
        
            
        }
        
    }
    
    .visit-table {
        padding: 10px;
    
        th {
            font-weight: 400;
        }
        tr {
            border: none;
            border-bottom: 1px solid rgba($light, 0.2);
            
            &:last-of-type {
                border-bottom: none;
            }
    
            .emphasis {
                font-size: 1.2rem;
                font-weight: 700;
                text-transform: uppercase;
            }
        }
        
    }
    
    .visit-tickets {
        p {
            text-align: center;
        }
    }
    
    .visit-eligibility {
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            margin-bottom: 30px;
        }
        ul {
            li {
                margin-bottom: 1rem;
                .note {
                    display: block;
                    color: rgba($light, 0.5);
                    margin-left: 1.5rem;
    
                }
            }
        }
    }
    

}

@media (min-width: 768px) {
    .Visit {

        .when-to-visit .when-to-visit-content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            
            img {
                display: block;
                width: 100%;
                height: 700px;
                object-fit: cover;
                border-radius: 10px 0 0 10px ;
            }
        }
    
        .visit-tickets {
            .visit-tickets-content {
                display: grid;
                grid-template-columns: 1fr 1fr;
                gap: 20px;
            }
        }

        .visit-eligibility {
            @include flexbox(grid, center, center);
            grid-template-columns: 1fr 1fr;
            gap: 30px;
            h2 {
                grid-column: span 2;
            }
        }
    }
 }

 @media (max-width: 354px) {
    .Visit .when-to-visit .when-to-visit-nav ul {
        flex-direction: column;
    }
 }