@use "_colors" as *;
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
html {
    scroll-behavior: smooth;
  }

body {
  font-family: "Red Hat Display", sans-serif;
  font-size: 16px;
  line-height: 1.6;

  overflow-x: hidden;
  
  background-color: $bg;
  color: $light;
}

.App {
  max-width: 1800px;
  min-height: 200vh;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

main {
  flex: 1;
}

h1, h2{
  letter-spacing: 0.1rem;
  font-family: "Playfair Display", serif;
  
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}

h3 {
  
  letter-spacing: 0.1rem;
}

p {
  font-size: 1em;
  line-height: 1.6;
  padding-top: 0.2em 0;
}

a, a:active, a:visited, a:hover{
  text-decoration: none;
  color: $light;
}

ul{
  padding: 0;
}

li {
  list-style-type: none;
}

.sr-only {
  display: none;
}

p {
  margin-top: 1rem;
}

strong {
  font-style: italic;
}

button {
  padding: 5px 20px;
  margin-top: 1rem;
  border-radius: 5px;

  font-size: 1rem;
  font-family: "Red Hat Display", sans-serif;

  cursor: pointer;
  background-color: rgba($dark, 0.9);
  color: $light;

  border: 1px solid rgba($light, 0.5);
  border-radius: 20px;

  letter-spacing: 0.05rem;

  &:hover {
    background-color: rgba($dark, 0.7);
  }

  &.action-btn {
    background-color: $action;
    border: 1px solid $action;
    font-weight: 700;
    &:hover {
      background-color: rgba($action, 0.7);
    }
  }
}

table {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  th, td {
      padding: 1rem;
  }
  tr {
  border: 1px solid rgba($light, 0.2);
  }
  .btn-row {
      text-align: center;
      td {
          padding: 0;
          text-align: center;
      &:last-child {
          padding: 1rem;
      }
    }
  }
}



@media (min-width: 768px) {
  body {
    font-size: 18px;
    line-height: 1.6;
  }
}